<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sloth Facts</title>
    </head>
    <body>
        Add a new sloth fact:
        <form action="/sloth" method="POST">
            <input type="text" placeholder="New sloth fact" name="fact">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>