<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sloth Facts API Documentation</title>
    </head>
    <body>
        <h1>Sloth Facts API Documentation</h1>
        <h2>Current API endpoints are:</h2>
        <h3>/</h3>
        <h3>/add</h3>
        <h3>/documentation</h3>
        <h3>/facts</h3>
        <h3>/facts/count</h3>
        <h3>/random</h3>
    
    </body>
</html>