<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sloth Facts</title>
    </head>
    <body>
        <h1>Sloth Facts</h1>
        <ul class="quotes">
                <% for(var i=0; i<slothFacts.length; i++) {%>
                    <li class="quote">
                        <span><%= slothFacts[i].fact %></span>
                    </li>
                <% } %>
            </ul>
    
    </body>
</html>