body {
    margin: 0;
    background-color: black;
    
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-container {
    background-image: url('jaden.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 90%;
    height: 90%;
    

}
.sloth-fact-image {
    object-fit: cover;

}
.marquee {
    color: lavenderblush;
}
.title {
    text-align: center;
    color: lavender;
    text-shadow: 2px 2px plum;
    font-size: 6em;
}